body{
    background:rgb(172, 219, 172);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.assignments{
    display: flex;
}

.assignment{
    display: inline;
    padding: 10px;
    margin: 10px;
    background-color: darkseagreen;
    border-radius: 6px;
    box-shadow: 5px 10px darkslategray;
}

.assignment img{
    width: 200px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

h1{
    color: darkgoldenrod;
    text-align: center;
    font-size: large;
}

a{
    text-decoration: none;
}