head{
    display: inline;
}



body{
    background:rgb(172, 219, 172);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.assignment{
    display: inline;
}

h1{
    color: darkgoldenrod;
    text-align: left;
}